*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body{
    background-color: beige;
}
.container{
    margin: 10px;
    padding: 20px;
    border: 1px solid #bbb0b0;
    width: 350px;
    height: auto;
    position: absolute;
    left: 29rem;
    top: 2rem;
}

.display{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: white;
    width: 308.5px;
    padding: 100px 45px;
    padding-bottom: 5px;
    font-size: 2.4rem;
}

.all-buttons{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-gap: 9px;
    padding: 40px;
    padding-top: 10px;
    background-color: #000;
    font-weight: bold;
}

.all-buttons > button{
    padding: 13px 0px;
    border-radius: 50px;
    border-style: none;
}

.number-0{
    grid-column-start: 1;
    grid-column-end: 3;
}

.numbers{
    background-color: rgb(105, 105, 105);
    color: #fff;
}

.numbers:active{
    background-color: rgb(156, 156, 156);
    transition: all 0.05s;
}

.op, .equals{
    background-color: rgb(255, 172, 64);
    color:#fff;
}

.op:focus{
    color: rgb(255, 172, 64);
    background-color:#fff;
    transition: all 0.5s;
}

.equals:active{
    color: rgb(255, 172, 64);
    background-color:#fff;
}

